<div class="container">
    <div class="row mp0 m-t-25 m-b-25">
        <div class="col-md-12">
            <div class="resource">
                <mat-card>
                    <mat-card-content>
                        <h2 class="mp-0" style="text-transform: uppercase;">HELP CENTER</h2>
                        <p>
                            If you have any queries, we are here to help you. Ask what you need. We will be at your assistance.
                        </p>
                        <div class="course-filter">
                            <button mat-raised-button color="warn" style="height: 35px;">Report Problem</button>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>