<div class="customContainer">
    <div class="row">
        <div class="feature col-xs-12 col-sm-12 col-md-4">
           <mat-card>
                <div class="feature-thumb">
                    <img src="assets/img/icon01.png" alt="Largest Community">
                </div>
                <div class="feature-body">
                    <h2 class="mp-0">Largest Community</h2>
                    <h3 class="mp-0">Be a part of our community</h3>
                </div>
           </mat-card>
        </div>
        <div class="feature col-xs-12 col-sm-12 col-md-4">
           <mat-card>
                <div class="feature-thumb">
                    <img src="assets/img/icon02.png" alt="Computer">  
                </div>
                <div class="feature-body">
                    <h2 class="mp-0">Expert Tutors</h2>
                    <h3 class="mp-0">Get assistance from your tutor</h3>
                </div>
           </mat-card>
        </div>
        <div class="feature col-xs-12 col-sm-12 col-md-4">
           <mat-card>
                <div class="feature-thumb">
                    <img src="assets/img/icon03.png" alt="Computer">
                </div>
                <div class="feature-body">
                    <h2 class="mp-0">Lifetime Access</h2>
                    <h3 class="mp-0">Learn at your own time</h3> 
                </div>
           </mat-card>
        </div>
    </div>
</div>
