$mainColor:#6dc067;
.mainTitle{
  text-transform: uppercase;
  padding: 0.8em 0;
  font-size: 2em;
  font-weight: 400;
}

.product-details {
  width: 100%;
  padding: 1.5em;
}

.product-title {
  font-size: 1em;
  font-weight: 500;
  min-height: 4em;
}