<div class="row">
  <div class="col-md-12">
    <h2 class="mainTitle">Free Courses of Class Seven & Eight</h2>
</div>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let course of [{id:1, title: 'Seven'}, {id:2, title: 'Eight'}]">

  <a routerLink="/courses/content" style="text-decoration: none;">
  <mat-card class="single-product mp-0 m-b-30">

      <!-- <iframe width="255" height="215" [src]="course.url" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
     
        <!-- <a (click)="animationCourses()"></a> -->
        <!-- <img  mat-card-image class="product-image" src="{{ AWS_URL + course.image}}" alt="Photo"> -->
        <div *ngIf="course.title == 'Seven'" class="product-image">
          <img src="assets/img/class-7.jpg" alt="" class="img-responsive">
        </div>
        <div *ngIf="course.title == 'Eight'" class="product-image" >
          <img src="assets/img/class-8.jpg" alt="" class="img-responsive">
        </div>
        <div class="product-details">
                
            <h2 class="product-title mp-0">Class {{ course.title }}</h2>
          
            <!-- <div class="product-meta p-t-10 p-b-10">
                <span>{{ course.tutor.name.substring(0, 15) }} | {{ course.category.name.substring(0, 15) }}</span>
            </div> -->

            <button class="btnTheme" mat-raised-button>{{ 'Free' }}</button>
        </div>
  </mat-card>
  </a>
</div> 
</div>

