<div class="fixedOnTop">
  <div class="topHeader">
      <h1 class="title">{{ bq_set_api[0].class.name + " " + bq_set_api[0].subject.name + " " + bq_set_api[0].board.name + " " + bq_set_api[0].year }}</h1>
  </div>
</div>

<div class="customContainer">
  <section class="mcqDetails topheaderMarginPreparation">
    <div class="row">
      <div class="col-lg-8">
        <mat-tab-group class="tab">
          <mat-tab label="Questions" class="tab"> 
            
            <div class="question" *ngFor ="let qimage of question_image" >
              <img src="{{ qimage }}" alt="">
            </div>

          </mat-tab>
          <mat-tab label="Answers"> 
            <div class="question" *ngFor ="let qimage of solution_image" >
              <img src="{{ qimage }}" alt="">
            </div>
          </mat-tab>

      </mat-tab-group>
      </div>
      <div class="col-lg-4">
        <div class="relatedMCQ">
          <p class="title">Related Board Questions</p>
          <ul>
            <li *ngFor="let question of relatedQuestion" (click)="getRelatedQuestion(question.id)" [class.active]="question.id === selectedQuestion">  <mat-icon>list_alt</mat-icon> {{ question.class.name + " " + question.subject.name + " " + question.board.name + " " + question.year }} </li>
          </ul>
          
        </div>
        <br>
        <div class="btnGroup">
          <a (click)="backtoBoardQuestion()" class="btnCustom" mat-button>Board Questions</a> 
          <a (click)="backtoMCQPractice()" class="btnCustom" mat-button>Practice</a>
          <a (click)="backtoMCQTestList()" class="btnCustom" mat-button>Test</a>
        </div>
      </div>
    </div>
  </section>
</div>