<div class="fixedOnTop">
  <div class="topHeader">
      <h1 class="title">{{ categoryMCQTitle }} - {{subjectName}} </h1>
  </div>

  <div class="filter">

    <div class="filterContent">
        <ul>
            <li [class.active]="filterApplied" (click)="getAllMCQTestSet()">সব</li>
            <li *ngFor="let data of subcategoryCoursesDisplay" [class.active]="selectedIndex === data.id"
                (click)="getMCQTestSet(data.id)">{{data.name}}</li>
        </ul>
        <div *ngIf="subcategoryCoursesMenu && subcategoryCoursesMenu.length>1">
            <button mat-icon-button [matMenuTriggerFor]="menu" class="filterFont">
                আরও <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button class="filterFont" mat-menu-item (click)="getMCQTestSet(data.id)"
                    *ngFor="let data of subcategoryCoursesMenu">{{data.name}}</button> 
            </mat-menu>
        </div>
    </div>
  </div>
</div>

<div class="customContainer">
    <section class="topHeaderMarginWithFilter">
        <div class="row" *ngIf="!warningDiv">
            
            <div class="col-xl-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let set of categoryMCQlist">
                <mat-card class="mcqList m-b-20" (click)="gotoMCQTestDetail(set)">
                   <p class="setName">{{set.name}}</p>
                   <p class="category"> <span>{{set.subject.name}}</span> | <span>{{set.class.name}}</span></p>
                   <div class="flexRow">
                       <div class="flexCol">
                           <p class="questionCount">Total Q : {{set.mcq_ids.split(",").length}}</p>
                       </div>
                       <div class="flexCol">
                           <p class="setType">Free</p>
                       </div>
                   </div>
                </mat-card>
            </div>
           
        </div>
        <div class="noData" *ngIf="warningDiv" class="warningDiv">
            <h1 class="warningText">No Content Available</h1>
        </div>
    </section>
  
</div>
