    <section>
      <div class="container">
          <div class="row">
              <div class="col-md-12 course-details">
                  <h1 class="topHeader" style="text-transform: uppercase; text-align: center; margin-top: 50PX !important;">Contact us</h1>
              </div>
              <div class="col-md-4 course-details">
                <h2 style="text-transform: uppercase">Corporate Office</h2>

                <p>House#9 (5th floor), Road#16, Gulshan-1,</p>
                <p>Dhaka-1212, Bangladesh.</p>
                <p>Phone: +88-02-8153220, +88-02-8153219.</p>
                <p>Email: info@eatlbd.com</p>
            </div>
            <div class="col-md-4 course-details">
              <h2 style="text-transform: uppercase">Branch Office</h2>

              <p>BDBL Bhaban, 8th Floor, Kawran Bazar,</p>
              <p>Dhaka-1205, Bangladesh. </p>
              <p>Phone: +88-02-8153220, +88-02-8153219.</p>
              <p>+91 9999 878 398</p>
          </div>
          <div class="col-md-4 course-details">
            <h2 style="text-transform: uppercase">Branch Office</h2>

            <p>3 Allister Avenue, Toronto, ON M1M 3K7.</p>
            <p>Phone: +1-647-771-8701.</p>
           
        </div>
            </div>
          </div>
      </section>
