
    <div  class="topHeader">
       <h1 class="title">Ebooks</h1>
    </div>

  
  <div class="customContainer">
      <section class="section bg-white m-t-m6">
      
        
          <div  class="row mp0 m-t-25">
              <div class="col-md-12">
                  <h2 class="mainTitle">Ebook</h2>
              </div>
          </div>
          <div class="row mp0 m-t-10 m-b-10 products">
            <div class="col-xs-12 col-sm-6 col-md-3">
                <mat-card  class="single-product mp-0 m-b-30">
                    <a routerLink="/e-book">
                       
                        <div  class="product-image" [style.background]="'url(assets/img/switchgear-protection.jpg)'"></div>
                    </a>
     
                    <div class="product-details">
                        <a routerLink="/e-book">
                            <h2 class="product-title mp-0">সুইচগিয়ার অ্যান্ড প্রটেকশন</h2>
                        </a>
                        <div class="product-meta p-t-10 p-b-10">
                            <span>সুইচগিয়ার অ্যান্ড প্রটেকশন</span>
                        </div>
                
                        <div class="product-action">
                            <p>
                                <span  class="price">Free</span>
                            </p>
                           <div class="productBtn">
                                <button routerLink="/e-book"  mat-icon-button>
                                    <mat-icon aria-label="Example icon-button with a heart icon">keyboard_arrow_right</mat-icon>
                                </button>
                           </div>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
      </section>
  </div>