
<!-- Mobile Sidebar -->
<div class="main">
    <mat-sidenav-container class="example-container">
      <mat-sidenav #drawer mode="over" role="navigation"> 
        <div class="logo">
            <a routerLink="/">
                <img src="assets/images/logos/edutubeLogo.png" alt="">
            </a>
        </div>
        <mat-nav-list>
            <mat-accordion>
                
                <ul  class="dashboardMenu">
                   <li (click)="drawer.close()" routerLink="/">
                      <mat-icon>home</mat-icon> &nbsp;
                        Home
                    </li>
                    <li (click)="drawer.close()" routerLink="/about-us">
                      <mat-icon>add_circle</mat-icon> &nbsp;
                        About
                    </li>
                    <li (click)="drawer.close()" routerLink="/tutors">
                      <mat-icon>group</mat-icon> &nbsp;
                        Directors
                    </li>
                    <li (click)="drawer.close()" routerLink="/about-us">
                      <mat-icon>home</mat-icon> &nbsp;
                        Our Activities
                    </li>
                     <li (click)="drawer.close()" routerLink="/about-us">
                      <mat-icon>event</mat-icon> &nbsp;
                        Events
                    </li>
                    <li (click)="drawer.close()" routerLink="/about-us">
                      <mat-icon>notifications</mat-icon> &nbsp;
                        Notices
                    </li>
                    <li (click)="drawer.close()" routerLink="/about-us">
                      <mat-icon>call</mat-icon> &nbsp;
                        Contact Us
                    </li>
                </ul>
              </mat-accordion>
              
            
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
          <header (click)="clickInside()">
              <button class="desktopHidden" type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
                <mat-icon aria-label="Side nav toggle icon" class="menu-icon">menu</mat-icon>
              </button>
              <app-header style="width: 100%;"></app-header>
          </header>
          <main (click)="clickout()">
            <router-outlet></router-outlet> 
          </main>
          <app-footer></app-footer>
       

      </mat-sidenav-content>
    </mat-sidenav-container>
  
  </div>
  
  

