

.main {
  width: 100% !important;
  background: #ffffff;
}

.section {
  padding: 10px 0;
  margin: 0 !important;
  width: 100% !important;
  display: inline-block;
}

.divider-hr {
  border: 1px solid #C9CCD3;
}

.m-t-m6 {
  margin-top: -6px !important;
}

.course-banner {
  background-image: url("/assets/img/course/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
  margin-top: -16px;
  position: relative;
}

.course-banner h2 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  padding: 0 20px;
  margin: 0;
}

/* Tablet Layout */

@media only screen and (min-width: 768px) and (max-width: 991px) {

}

/* Mobile Layout */

@media only screen and (max-width: 767px) {

}

/* Wide Mobile Layout */

@media only screen and (min-width: 480px) and (max-width: 767px) {

}

