.header{
    display: flex;
    padding: 0em 1em;
    align-items: center;
    justify-content: space-between;
    background-color: #9a9a9a2b;
}

.mat-form-field{
    width: 100%;
}

table{
    width: 100%;
    th,td{
        padding: 0em 1.5em;
    }
}