<div class="page-layout simple">
    <div class="content">
        <div class="center pb-56">
            <div class="app-panel-body">
                <form name="passwordChangeForm" [formGroup]="passwordChangeForm" novalidate (ngSubmit)="onSubmit()"
                      style="margin: 0 auto;">

                    <mat-form-field>
                        <mat-label>Old Password</mat-label>
                        <input type="password" matInput placeholder="Enter old password" formControlName="old_password">
                        <mat-error *ngIf="passwordChangeForm.get('old_password').hasError('required')">
                            Old password is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input type="password" matInput placeholder="Enter password" formControlName="password">
                        <mat-error *ngIf="passwordChangeForm.get('password').hasError('required')">
                            Password is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Confirm Password</mat-label>
                        <input type="password" matInput placeholder="Enter password confirmation"
                               formControlName="password_confirmation">
                        <mat-error *ngIf="passwordChangeForm.get('password_confirmation').hasError('required')">
                            Password confirmation is required
                        </mat-error>
                    </mat-form-field>

                    <div style="width: 100%; position: relative; min-height: 50px;">
                        <mat-spinner-button [options]="btnOpts"
                                            style="margin-left: 0; position: absolute; right: 0;"></mat-spinner-button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>