<div class="customContainer">
 <div class="row">
   <div class="col-xs-12 col-sm-12 col-md-6">
      <img class="img-teacher" src="/assets/img/img-teacher.png" alt=""> 
   </div>
   <div class="col-xs-12 col-sm-12 col-md-6 content">
      <h2>BECOME A TUTOR TODAY</h2>
      <p class="mb-0">
        Teach what you love. Edutube gives you the oportunity to create courses, take live classes, help students by sloving their problems
        and selling your notes suggestion online. Join international tutor community and build your profile.
      </p>
      <div class="course-filter">
        <a routerLink="registration" mat-raised-button  class="btnTutor">Become A Tutor</a> 
      </div>
   </div>
 </div>
</div> 