<section id="footer_top_area">

    <div class="customContainer">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="logo">
                    <a routerLink="/">
                        <img src="assets/images/logos/edutubeLogo.png" alt="">  
                    </a>
                </div>
                <p class="edutube-slogan">Bangladesh Private Medical College Association</p>
                <div class="social-icons">
                  <ul>
                      <li><a href="https://www.facebook.com/pages/category/Local-Business/Bangladesh-Private-Medical-College-Association-BPMCA-648985138848433/" target="_blank"><img src="assets/images/icon-facebook.png" alt=""></a></li>
                      <li><a href="https://www.youtube.com/channel/UCcDu0Eckdjs5ocEnS9WZwXA" target="_blank"><img src="assets/images/icon-youtube.png" alt=""></a></li>
                      <!-- <li><a href="#" target="_blank"><img src="assets/images/icon-twitter.png" alt=""></a></li>
                      <li><a href="#" target="_blank"><img src="assets/images/icon-linkedin.png" alt=""></a></li> -->
                  </ul>
                </div>
            </div>
            <div class="col-xs-6 col-md-4">
                <h3>GET TO KNOW US</h3>
                <ul class="footer-item-list">
                    <li><a routerLink="/about-us">About Us</a></li>
                    <li><a routerLink="/contact-us">Contact Us</a></li>
                  
                </ul>
            </div>
           
            <div class="col-xs-12 col-md-4">
                <h3>PARTNER WITH US</h3>
                <ul class="footer-item-list">
                    <li><a routerLink="/registration">Become Our Member</a></li>
                </ul>
            </div>
        </div>
        <hr class="footer-line">
        <div class="row" style="margin-bottom:2em;">
            <div class="col-md-6">
                <div class="copyright">
                    &copy; Copyright 2019 BPMCA<span>|</span>All Rights Reserved
                </div>
            </div>
            <div class="col-md-6">
                <div class="links">
                    <a routerLink="/terms-and-conditions">Terms & Conditions</a><span>|</span><a routerLink="/privacy-policy">Privacy Policy</a><span>|</span><a routerLink="/help">Help</a><span>|</span><a routerLink="/site-map">Site Map</a>
                </div>
            </div>
        </div>
    </div>
</section>
