<mat-card>
  <div class="text-center" *ngIf="!start_quiz_btn">
    <p style="font-weight: bold;font-size: 18px;">Total Questions: {{question_tests?.data?.length}}</p>
    <p style="font-weight: bold;font-size: 18px;">Mark: {{question_tests?.data?.length}}</p>
    <p style="font-weight: bold;font-size: 18px;">Time: {{question_tests?.test?.time}} sec</p>
    <a
      mat-raised-button
      class="reference-button mat-white-bg mt-16 mt-sm-0"
      (click)="start_quiz()"
    >
      <mat-icon style="margin-right: 3px;">play_arrow</mat-icon>
      <span>Start Quiz</span>
    </a>
  </div>
  <div id="takeQuizSectionForm">
    <div class="row">
        <div class="col-md-12">
            <form name="quizForm" [formGroup]="quizForm" novalidate>
                <ng-container *ngIf="start_quiz_btn">
                    
                <div class="timer">
                    Questions: {{mcq_question?.length}}/{{index_value+1}}
                </div>
                <div class="timer">
                    <countdown
                        [config]="{ leftTime: leftTime }"
                        (start)="onStart()"
                        (finished)="onFinished()"
                        (notify)="onNotify($event)"
                        >$!s!:$!m!
                    </countdown>
                </div> 
                  <ng-container *ngFor="let data of mcq_question; let i = index">
                    <ng-container *ngIf="i === index_value">
                          <div class="questionInfo">
                              <div>
                                  <mat-card-title>
                                  <span [innerHTML]="data.questions.question_title"></span>
                                  </mat-card-title>
                                  <mat-card-subtitle>
                                  chapter: {{data.chapter_no}} | lesson: {{data.lesson_no}}
                                  </mat-card-subtitle>
                              </div>
                          </div>
          
                      <mat-card-content>
                        <div class="row mobileQuiz">
                            <div class="col-md-8">
                            <mat-radio-group 
                            (change)="radioChange($event, i)"
                            formControlName="quiz_option_{{ i }}"
                            >
                                <mat-radio-button value="1" [checked]="data?.givenAnswer === 1">
                                    <span
                                        *ngIf="
                                            data.questions.options.option1;
                                            else image_option_1
                                        "
                                        [innerHTML]="data.questions.options.option1"></span
                                    >
                                    <ng-template #image_option_1
                                        ><img [src]="aws_link+data.questions.options.image_option_1" />
                                    </ng-template>
                                </mat-radio-button>
                                <mat-radio-button value="2" [checked]="data?.givenAnswer === 2">
                                    <span
                                        *ngIf="
                                            data.questions.options.option2;
                                            else image_option_2
                                        "
                                        [innerHTML]="data.questions.options.option2"></span
                                    >
                                    <ng-template #image_option_2
                                        ><img [src]="aws_link+data.questions.options.image_option_2" />
                                    </ng-template>
                                </mat-radio-button>
                                <mat-radio-button value="3" [checked]="data?.givenAnswer === 3">
                                    <span
                                        *ngIf="
                                            data.questions.options.option3;
                                            else image_option_3
                                        "
                                        [innerHTML]="data.questions.options.option3"></span
                                    >
                                    <ng-template #image_option_3
                                        ><img [src]="aws_link+data.questions.options.image_option_3"/> </ng-template>
                                </mat-radio-button>
                                <mat-radio-button value="4" [checked]="data?.givenAnswer === 4">
                                    <span *ngIf="data.questions.options.option4;else image_option_4" [innerHTML]="data.questions.options.option4"></span>
                                    <ng-template #image_option_4
                                        ><img [src]="aws_link+data.questions.options.image_option_4" />  </ng-template
                                ></mat-radio-button>
                            </mat-radio-group>
                            </div>
                            <div class="col-md-4" *ngIf="data.questions.question_image">
                                <img [src]="aws_link+data.questions.question_image" />
                            </div>
                        </div>
                  
                      </mat-card-content>
                    </ng-container>
                  </ng-container>
                </ng-container>
            </form>
        </div>
    </div>
    <br>
    <div class="row" *ngIf="start_quiz_btn">
        <div class="col-md-12">
            <div class="flex-spacebetween-center">
                <div class="player">
                    <button
                      mat-icon-button
                      (click)="loadLess()"
                      [disabled]="(index_value===0)"
                    >
                      <mat-icon>keyboard_arrow_left</mat-icon>
                    </button>
              
                    <button
                      mat-icon-button
                      (click)="loadMore()"
                      [disabled]="(index_value===mcq_question.length-1)"
                    >
                      <mat-icon>keyboard_arrow_right</mat-icon>
                      
                    </button>
                </div>
                <div>
                    <button mat-raised-button class="submitBtn" (click)="submit()">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
 
  </div>
  <mat-card-content *ngIf="!start_quiz_btn" style="margin-top:30px;">
    <!-- <app-course-lecture-quiz-answer></app-course-lecture-quiz-answer> -->
  </mat-card-content>
</mat-card>

<div *ngIf="mcq_test_result" style="margin-top: 4em">
    <div>
        <span> Created at : {{ mcq_test_result.created_at | date }} </span>&nbsp;
        &nbsp; &nbsp; | &nbsp; &nbsp; &nbsp;
        <span> Time : {{ mcq_test_result.time }} sec</span>&nbsp; &nbsp; &nbsp;
    </div>

    <div class="quiz-summary">
        <div class="row">
            <div class="col-xs-6 col-sm-3">
                <div class="quiz-correct">
                    Correct<br> {{ mcq_test_result.right }}/{{ mcq_test_result.answers?.length }}
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="quiz-wrong">
                    Wrong<br> {{ mcq_test_result.wrong }}
                </div>    
            </div>  
            <div class="col-xs-6 col-sm-3">
                <div class="quiz-skipped">
                    Skipped<br> {{ mcq_test_result.skipped }}
                </div>    
            </div>    
            <div class="col-xs-6 col-sm-3">
                <div class="quiz-score">
                    Score<br>
                    {{
                        mcq_test_result.answers && mcq_test_result.right > 0
                            ? ( (mcq_test_result.right / mcq_test_result.answers.length) * 100 ).toFixed(2)
                            : "0"
                    }}
                    %
                </div>    
            </div> 
        </div>    
    </div>

    <div class="m-t-30">
        <div *ngFor="let value of mcq_test_result.answers; let j = index">
            <mat-card class="m-b-20">   
                <div class="question-title">
                    <span>{{ j + 1 }}.</span> <span [innerHTML]="value.questions.question_title"></span>  
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div>
                            <mat-radio-group>
                                <mat-radio-button
                                    [ngClass]="[
                                        (value.givenAnswer ===
                                            value.questions.answer &&
                                            value.givenAnswer === '1') ||
                                        value.questions.answer === '1'
                                            ? 'right-answer'
                                            : '',
                                        value.givenAnswer !==
                                            value.questions.answer &&
                                        value.givenAnswer === '1'
                                            ? 'wrong-answer'
                                            : ''
                                    ]"
                                    disabled="disabled"
                                    [value]="1"
                                    [checked]="
                                        value.givenAnswer &&
                                        value.givenAnswer !== '-1' &&
                                        value.givenAnswer === '1'
                                            ? true
                                            : false
                                    "
                                >
                                    <span
                                        *ngIf="
                                            value.questions.options.option1;
                                            else image_option_1
                                        "
                                        ><span [innerHTML]="value.questions.options.option1"></span></span
                                    >
                                    <ng-template #image_option_1
                                        ><img
                                            [src]="
                                                aws_link +
                                                value.questions.options.image_option_1
                                            "
                                        />
                                    </ng-template>
                                </mat-radio-button>
                                <mat-radio-button
                                    [ngClass]="[
                                        (value.givenAnswer ===
                                            value.questions.answer &&
                                            value.givenAnswer === '2') ||
                                        value.questions.answer === '2'
                                            ? 'right-answer'
                                            : '',
                                        value.givenAnswer !==
                                            value.questions.answer &&
                                        value.givenAnswer === '2'
                                            ? 'wrong-answer'
                                            : ''
                                    ]"
                                    disabled="disabled"
                                    [value]="2"
                                    [checked]="
                                        value.givenAnswer &&
                                        value.givenAnswer !== '-1' &&
                                        value.givenAnswer === '2'
                                            ? true
                                            : false
                                    "
                                >
                                    <span
                                        *ngIf="
                                            value.questions.options.option2;
                                            else image_option_2
                                        "
                                        ><span [innerHTML]="value.questions.options.option2"></span></span
                                    >
                                    <ng-template #image_option_2
                                        ><img
                                            [src]="
                                                aws_link +
                                                value.questions.options.image_option_2
                                            "
                                        />
                                    </ng-template>
                                </mat-radio-button>
                                <mat-radio-button
                                    [ngClass]="[
                                        (value.givenAnswer ===
                                            value.questions.answer &&
                                            value.givenAnswer === '3') ||
                                        value.questions.answer === '3'
                                            ? 'right-answer'
                                            : '',
                                        value.givenAnswer !==
                                            value.questions.answer &&
                                        value.givenAnswer === '3'
                                            ? 'wrong-answer'
                                            : ''
                                    ]"
                                    disabled="disabled"
                                    [value]="3"
                                    [checked]="
                                        value.givenAnswer &&
                                        value.givenAnswer !== '-1' &&
                                        value.givenAnswer === '3'
                                            ? true
                                            : false
                                    "
                                >
                                    <span
                                        *ngIf="
                                            value.questions.options.option3;
                                            else image_option_3
                                        "
                                        ><span [innerHTML]="value.questions.options.option3"></span></span
                                    >
                                    <ng-template #image_option_3
                                        ><img
                                            [src]="
                                                aws_link +
                                                value.questions.options.image_option_3
                                            "
                                        />
                                    </ng-template>
                                </mat-radio-button>
                                <mat-radio-button
                                    [ngClass]="[
                                        (value.givenAnswer ===
                                            value.questions.answer &&
                                            value.givenAnswer === '4') ||
                                        value.questions.answer === '4'
                                            ? 'right-answer'
                                            : '',
                                        value.givenAnswer !==
                                            value.questions.answer &&
                                        value.givenAnswer === '4'
                                            ? 'wrong-answer'
                                            : ''
                                    ]"
                                    disabled="disabled"
                                    [value]="4"
                                    [checked]="
                                        value.givenAnswer &&
                                        value.givenAnswer !== '-1' &&
                                        value.givenAnswer === '4'
                                            ? true
                                            : false
                                    "
                                >
                                    <span
                                        *ngIf="
                                            value.questions.options.option4;
                                            else image_option_4
                                        "
                                        ><span [innerHTML]="value.questions.options.option4"></span></span
                                    >
                                    <ng-template #image_option_4
                                        ><img
                                            [src]="
                                                aws_link +
                                                value.questions.options.image_option_4
                                            "
                                        />
                                    </ng-template>
                                </mat-radio-button>
                            </mat-radio-group>
                        </div> 
                    </div>  
                    <div class="col-xs-12 col-md-6">
                        <div class="question-body-img">
                            <img *ngIf="value.questions.question_image" [src]="aws_link+value.questions.question_image" />
                        </div> 
                    </div>    
                </div>
            </mat-card>
        </div>
    </div>                

</div>