<div class="banner mobileHidden">
  <div class="row">
    <div class="col-sm-6">
      <div class="content">
        <p class="title">Free online courses with animation, videos.</p>
        <p class="text">Join the community. Create a course and earn.</p> 
      </div>
    </div>
    <div class="col-sm-6">
      <div class="image">
        <img src="assets/img/banner.png" alt="">     
      </div>
    </div>
  </div>
</div>
<div class="mobileBanner desktopHidden"> 
  <div class="image">
    <img src="assets/img/banner.png" alt="">
  </div>
  <div class="mobileContent">
    <p class="mp-0 title">Free online courses with animation, videos</p>
    <p class="text">Join the community. Create a course and earn.</p>  
  </div>
</div>
