
<div class="container">
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <mat-card class="loginPanel">
                <div class="row">
                    <div class="col-xs-12">
                    <div class="top">
                        <mat-icon class="loginicon">lock</mat-icon>
                        <p class="title">Set New Password</p>
                        <hr class="line">
                    </div>
                    <form name="passwordChangeForm" [formGroup]="passwordChangeForm" novalidate (ngSubmit)="onSubmit()">

                            <mat-form-field>
                                <input matInput type="password" placeholder="Password" formControlName="password">
                                <mat-error *ngIf="passwordChangeForm.get('password').hasError('minlength')"> 
                                    password should be at least 6 characters long.
                                </mat-error> 
                                
                            </mat-form-field>
            
                            <mat-form-field style="margin-bottom: 20px;">
                                <input matInput type="password" placeholder="Password (Confirm)" formControlName="password_confirmation">
                                <mat-error *ngIf="passwordChangeForm.get('password_confirmation').hasError('required')">
                                    Password confirmation is required
                                </mat-error>
                                <mat-error *ngIf="!passwordChangeForm.get('password_confirmation').hasError('required') &&
                                                    passwordChangeForm.get('password_confirmation').hasError('passwordsNotMatching')">
                                    Passwords must match
                                </mat-error>
                            </mat-form-field>
            
                            <mat-spinner-button [options]="btnOpts"></mat-spinner-button>
                    </form>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>