

<div class="container">
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <mat-card class="loginPanel">
                <div class="row">
                   <div class="col-xs-12">
                    <div class="top">
                        <mat-icon class="loginicon">lock</mat-icon>
                        <p class="title">Confirmation Code</p>
                        <hr class="line">
                    </div>
                    <div id="forgot-password-form-wrapper">

                        <div id="forgot-password-form">
                
                    
                            <form name="forgoPasswordForm" [formGroup]="passwordResetConfirmForm" novalidate (ngSubmit)="onSubmit()">
                
                                <mat-form-field>
                                    <input matInput placeholder="Email" formControlName="email" readonly>
                                    <mat-error *ngIf="passwordResetConfirmForm.get('email').hasError('required')">
                                        Please enter email address.
                                    </mat-error>
                                </mat-form-field>
                
                                <mat-form-field style="margin-bottom: 20px;">
                                    <input matInput placeholder="Code" formControlName="code">
                                    <mat-error *ngIf="passwordResetConfirmForm.get('code').hasError('required')">
                                        Please enter confirmation code.
                                    </mat-error>
                                </mat-form-field>
                
                                <mat-spinner-button [options]="btnOpts"></mat-spinner-button>
                
                            </form>
                
                            <div class="login m-t-10" fxLayout="row" fxLayoutAlign="center center">
                                <a class="link" [routerLink]="'/login'">Go back to login</a>
                            </div>
                
                        </div>
                    </div>
                   </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>