

<div class="container">
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <mat-card class="loginPanel">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="top">
                            <mat-icon class="loginicon">verified_user</mat-icon>
                            <p class="title">LOGIN TO YOUR ACCOUNT</p>
                            <hr class="line">
                        </div>

                        <form name="loginForm" [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">

                                <mat-form-field appearance="outline">
                                    <mat-label>Email</mat-label>
                                    <input matInput placeholder="Email" formControlName="email">
                                    <mat-error *ngIf="loginForm.get('email').hasError('required')">
                                        Email is required
                                    </mat-error>
                                    <mat-error
                                            *ngIf="!loginForm.get('email').hasError('required') &&
                                                loginForm.get('email').hasError('email')">
                                        Please enter a valid email address
                                    </mat-error>
                                </mat-form-field>
                                <br>
                                <mat-form-field appearance="outline">
                                    <mat-label>Password</mat-label>
                                    <input matInput type="password" placeholder="Password" formControlName="password">
                                    <mat-error>
                                        Password is required
                                    </mat-error>
                                </mat-form-field>
                                <br>
                              
                               <div class="forgot">
                                    <a class="forgot-password" [routerLink]="'/password-reset'">
                                        Forgot Password?
                                    </a>
                               </div>
                              
                                
                
                
                                <mat-spinner-button [options]="btnOpts"></mat-spinner-button>
                
                        </form>

                        <div class="bottom">
                            <span class="text">Don't have an account?</span>
                            <a class="link" [routerLink]="'/registration'">Create an account</a>
                        </div>

                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>