<div class="container">
    <div class="row mp0 m-t-25 m-b-25">
        <div class="col-md-12">
            <div class="resource">
                <mat-card>
                    <mat-card-content>
                        <h2 class="mp-0">FIND NOTES AND SHARE OR EARN FROM YOUR NOTES</h2>
                        <p>
                            Notes from top students are uploaded here. You can find your desired notes or you can share your notes for free or
                            earn over 5k per month from selling your notes.
                        </p>
                        <div class="course-filter">
                            <button mat-raised-button color="warn" style="height: 35px;">Discover</button>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>