// @import "src/@fuse/scss/fuse";
@import "~bootstrap-sass-grid/sass/bootstrap-sass-grid";
@import url('https://fonts.googleapis.com/css?family=Work+Sans');

.container-fluid{
  width: 100%;
  margin-top: 1em;
  font-size: medium;

}
.mat-chip{
  border-radius: 6px;
  font-weight: 500;
  font-size: medium;
}
.mat-card{
  border-radius: 6px;
}
.profileImage{
  text-align: center;

  img{
    height: 7em;
    border-radius: 1em;
  }
}
.info{
  text-align: center;
  padding: 1em;
}
.line{
  border-color: #fbfbfb73;
  margin: 1em 0;
}
.fw500{
  font-weight: 500;
}


.about{
  .header{
    display: flex;
    justify-content: space-between;
  }
  .btnTheme{
    min-width: 7em;
  }
  .aboutText{
    padding: 1em 0;
    font-size: large;
  }
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #eeeeee;
  text-align: left;
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: #eeeeee;
}

.btnTheme{
  border-radius: 6px;
}
// .app-panel-wrapper {
//   border: 1px solid rgba(mat-color($foreground, secondary-text), .03);
//   box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
//   margin: 4px;
//   h3 {
//     margin-top: 10px;
//   }
// }

// .app-panel-header {
//   align-content: center;
//   align-items: center;
//   display: flex;
//   justify-content: center;
//   padding: 8px 20px;
//   color: mat-color($foreground, secondary-text);
//   background: rgba(mat-color($foreground, secondary-text), .03);
//   flex: 1 1 auto;

//   .app-panel-title {
//     flex: 1 1 auto;
//     font-size: 18px;
//     color: #363b45;
//   }

//   .icon-holder {
//     width: 112px;
//     height: 120px;

//     .icon-name {
//       font-size: 12px;
//       word-wrap: break-word;
//       width: 100px;
//       text-align: center;
//     }
//   }
// }

// .app-panel-body {
//   padding: 24px;
//   width: 100%;

//   table {
//     width: 100%;
//   }

//   .mat-form-field {
//     font-size: 14px;
//     width: 100%;
//   }
// }

// .mat-column-id {
//   flex: 0 0 100px;
// }

// .mat-column-action {
//   width: 30px !important;
// }

// .basic-info-section{
//     display: flex;
// }

// .profileImage{
//   text-align: right;
// }
// @media(max-width:786px){
//   .profileRow{
//     display: flex;
//     flex-direction: column-reverse;
//   }

// .profileImage{
//   text-align: center;
// }
// }